{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="cart-container">
    <h1>Mon panier</h1>
    <table class="table table-bordered">
        <tr>
            <th>Nom du produit</th>
            <th>Prix</th>
            <th>quantité</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.product.nom }}</td>
            <td>{{item.product.price }}</td>
            <td>{{ item.quantity }}</td>   
            <td>{{ item.product.price * item.quantity }}</td>
            <td>
                <a href="{{ path('app_cart_product_remove', {'id':item.product.id}) }}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% else %}
        <p>Aucun produit dans le panier...</p>
        {% endfor %}
    </table><br><br>

    <h2>Total: {{ total }} €</h2>

    <div class="row">
        <a href="" class="btn btn-primary col-2 m-lg-1">Valider la commande</a><br>
        <a href="{{ path('app_cart_remove')}}" class="btn btn-outline-danger col-2 m-lg-1">Supprimer le panier</a><br>
        <a href="{{ path('app_shop') }}" class="btn btn-outline-primary col-2 m-lg-1">Revenir à la boutique</a>
    </div>
</div>

{% endblock %}
