{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

<div class="container">

    <h1>Catégories</h1><br>
    {% include 'layout/_flash_message.html.twig' %}

    <table class="table">
        <tr>
            <th>id</th>
            <th>nom de la catégorie</th>
            <th>Action</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <a class="btn btn-outline-primary" href="{{ path('app_category_update', {'id':category.id}) }}">Modifier</a> 
                <a onclick="return confirm('voulez vous vraiment supprimer cette catégorie ?')" class="btn btn-danger" href="{{ path('app_category_delete', {'id':category.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% else %}
        <p>Aucune categories a afficher pour l'instant</p>
        {% endfor %}
    </table>
    <br>
    <a class="btn btn-outline-primary" href="{{ path('app_category_new') }}">Ajouter une categorie</a>
</div>
{% endblock %}

