{% extends 'base.html.twig' %}

{% block title %}SubCategory{% endblock %}

{% block body %}
    <h1>Sous catégories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sub_category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sub_category.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_sub_category_index') }}">Revenir à la liste</a>

    <a class="btn btn-outline-primary" href="{{ path('app_sub_category_edit', {'id': sub_category.id}) }}">Modifier</a>

    {{ include('sub_category/_delete_form.html.twig') }}
{% endblock %}
