{% extends 'base.html.twig' %}

{% block title %}Utilisateurs!{% endblock %}

{% block body %}

<div class="user-container">
    <br><br><br>
    <h1>Listes des utilisateurs</h1><br><br><br>

    {% include 'layout/_flash_message.html.twig' %}
    <table class="table">
        <tr>
            <th>id</th>
            <th>email</th>
            <th>nom d'utilisateur</th>
            <th>Adresse de livraison</th>
            <th>rôle</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.getNomUtilisateur() }}</td>
            <td>{{ user.getAdresseDeLivraison() }}</td>
            <td>
                {% if ('ROLE_ADMIN' in user.roles) %}
                    <span class="text-primary">Administrateur</span>
                {% elseif ('ROLE_EDITOR' in user.roles) %}
                    <span class="text-success">Editeur</span>
                {% else %}
                    <span class="text-secondary">Client</span>
                {% endif %}

                
            </td>
            <td>
                {% if ('ROLE_ADMIN' in user.roles)== false %}

                        {% if ('ROLE_EDITOR' in user.roles)== false %}
                        <a onclick="return confirm('voulez vous vraiment affecter le rôle éditeur à cet utilisateur?')"
                        class=" btn btn-outline-primary" 
                        href="{{ path('app_user_to_editor',{'id':user.id})}}">Ajouter comme éditeur</a>

                        {% else %}

                        <a onclick="return confirm('voulez vous vraiment retirer le rôle éditeur à cet utilisateur?')"
                        class=" btn btn-danger" 
                        href="{{ path('app_user_remove_editor_role',{'id':user.id})}}">Retirer le rôle éditeur</a>

                        {% endif %}

                        <a onclick="return confirm('voulez vous vraiment supprimer cet utilisateur?')" href="{{ path('app_user_remove',{'id':user.id})}}" class="btn btn-danger">Supprimer</a>
               
                 {% endif %}
              
                
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
